#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2em;
  display: flex;
  flex-direction: column;
  place-items: center;
  width: 500px;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100px;
  list-style: circle;
}

.list li {
  cursor: pointer;
}

form {
  margin-top: 10px;
}

form input {
  padding: 5px;
  margin-right: 5px;
  border: 1px solid #a9c0cc;
  border-radius: 5px;
}

input:focus-visible {
  outline: 2px auto #64c9ff;
}

form button {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid transparent;
  transition: background-color 0.25s;
}

form button:hover {
  background-color: #64c9ff;
  cursor: pointer;
}

#empty{
  margin-top: 15px;
  color: crimson;
  font-weight: 600;
}

.resetBtn {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 5px 10px;
  margin-top: 25px;
  font-size: 1em;
  cursor: pointer;
  transition: box-shadow 0.25s;
}

.resetBtn:hover {
  box-shadow: 0px 0px 10px 1px #64c9ff;
}